nav{
    width: 100%;
    height: 100px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(20,142,25,1) 12%, rgba(0,253,75,1) 70%, rgba(0,255,184,1) 100%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
body{
    margin: 0px;
    display: flex;
    background-color: rgba(62, 71, 62, 0.384);
    position: relative;
}
*{
    margin-top: 0px;
}
.h1{
    color: rgb(255, 255, 255);
    display: flex;
    font-size: x-large;
    justify-content: start;
    align-items: center;
    margin-top: 1%;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 200%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;

}
.linkebi{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}
.fa-building-columns{
    color: goldenrod;
    font-size: 280%;
    margin-right: 20%;
    margin-bottom: 10%;
}

.login{
    position: absolute;
    background-color: black;
    color: white;
    border-radius: 15px;
    width: 100px;
    transition: 0.7s;
    left: 590px;
    padding: 3px;
}

.login:hover{
    background-color: aliceblue;
    color: black;
    font-size: 220%;
}

.pirveli{
    position: relative;
    width: 650px;
    height: 450px;
    display: flex;
    position: absolute;
    left: 200px;
    top: 200px;
    background-color: rgb(38, 121, 5);
    border-radius: 20px ;
    border: 3px solid black;
}

.xeli{
    border-radius: 10px;
    height: 300px;
}

.slogan{
    position: absolute;
    font-size: 60px;
    font-weight: 600;
    left: 360px;
    margin-top: 150px;
     
}

.meore{
    background-color: rgb(38, 121, 5);
    width: 650px;
    height: 450px;
    position: absolute;
    top: 200px;
    left: 1100px;
    border-radius: 20px;
    border: 3px solid black;
}
.img2{
    position: absolute;
    width: 650px;
    top: 10px;
}


.slogan2{
    position: absolute;
    font-size: 60px;
    font-weight: 600;
    left: 360px;
    margin-top: 190px;
}



@media screen and (max-width: 1669px) {
    .pirveli{
        position: relative;
        width: 650px;
        height: 450px;
        display: flex;
        position: absolute;
        left: 60px;
        top: 200px;
        background-color: rgb(38, 121, 5);
        border-radius: 20px ;
        border: 3px solid black;
    }
    
    .xeli{
        border-radius: 10px;
        height: 300px;
    }
    
    .slogan{
        position: absolute;
        font-size: 60px;
        font-weight: 600;
        left: 360px;
        margin-top: 150px;
         
    }
    
    .meore{
        background-color: rgb(38, 121, 5);
        width: 650px;
        height: 450px;
        position: absolute;
        top: 200px;
        left: 900px;
        border-radius: 20px;
        border: 3px solid black;
    }
    .img2{
        position: absolute;
        width: 650px;
        top: 10px;
    }
    
    
    .slogan2{
        position: absolute;
        font-size: 60px;
        font-weight: 600;
        left: 360px;
        margin-top: 190px;
    }
    
    
}


@media screen and (max-width: 1555px) {
    .pirveli{
        position: relative;
        width: 650px;
        height: 450px;
        display: flex;
        position: absolute;
        left: 50px;
        top: 200px;
        background-color: rgb(38, 121, 5);
        border-radius: 20px ;
        border: 3px solid black;
    }
    
    .xeli{
        border-radius: 10px;
        height: 300px;
    }
    
    .slogan{
        position: absolute;
        font-size: 60px;
        font-weight: 600;
        left: 360px;
        margin-top: 150px;
         
    }
    
    .meore{
        background-color: rgb(38, 121, 5);
        width: 650px;
        height: 450px;
        position: absolute;
        top: 200px;
        left: 800px;
        border-radius: 20px;
        border: 3px solid black;
    }
    .img2{
        position: absolute;
        width: 650px;
        top: 10px;
    }
    
    
    .slogan2{
        position: absolute;
        font-size: 60px;
        font-weight: 600;
        left: 360px;
        margin-top: 190px;
    }

}


@media screen and (max-width: 1455px){

    .pirveli{
        position: relative;
        width: 650px;
        height: 450px;
        display: flex;
        position: absolute;
        left: 10px;
        top: 200px;
        background-color: rgb(38, 121, 5);
        border-radius: 20px ;
        border: 3px solid black;
    }
    
    .xeli{
        border-radius: 10px;
        height: 300px;
    }
    
    .slogan{
        position: absolute;
        font-size: 60px;
        font-weight: 600;
        left: 360px;
        margin-top: 150px;
         
    }
    
    .meore{
        background-color: rgb(38, 121, 5);
        width: 650px;
        height: 450px;
        position: absolute;
        top: 200px;
        left: 750px;
        border-radius: 20px;
        border: 3px solid black;
    }
    .img2{
        position: absolute;
        width: 650px;
        top: 10px;
    }
    
    
    .slogan2{
        position: absolute;
        font-size: 60px;
        font-weight: 600;
        left: 360px;
        margin-top: 190px;
    }

}


@media screen and (max-width: 1405px){

    a{
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-size: 200%;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    
    }

    .linkebi{
        position: relative;
        right: 70px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 30px;
    }

    .pirveli{
        position: relative;
        width: 650px;
        height: 450px;
        display: flex;
        position: absolute;
        left: 10px;
        top: 200px;
        background-color: rgb(38, 121, 5);
        border-radius: 20px ;
        border: 3px solid black;
    }
    
    .xeli{
        border-radius: 10px;
        height: 300px;
    }
    
    .slogan{
        position: absolute;
        font-size: 60px;
        font-weight: 600;
        left: 360px;
        margin-top: 150px;
         
    }
    
    .meore{
        background-color: rgb(38, 121, 5);
        width: 650px;
        height: 450px;
        position: absolute;
        top: 200px;
        left: 700px;
        border-radius: 20px;
        border: 3px solid black;
    }
    .img2{
        position: absolute;
        width: 650px;
        top: 10px;
    }
    
    
    .slogan2{
        position: absolute;
        font-size: 60px;
        font-weight: 600;
        left: 360px;
        margin-top: 190px;
    }

}

@media screen and (max-width: 1355px){

    a{
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-size: 200%;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    
    }

    .linkebi{
        position: relative;
        right: 70px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 30px;
    }

    .pirveli{
        position: relative;
        width: 600px;
        height: 400px;
        display: flex;
        position: absolute;
        left: 10px;
        top: 200px;
        background-color: rgb(38, 121, 5);
        border-radius: 20px ;
        border: 3px solid black;
    }
    
    .xeli{
        border-radius: 10px;
        height: 300px;
    }
    
    .slogan{
        position: absolute;
        font-size: 50px;
        font-weight: 700;
        left: 360px;
        margin-top: 150px;
         
    }
    
    .meore{
        background-color: rgb(38, 121, 5);
        width: 580px;
        height: 400px;
        position: absolute;
        top: 200px;
        left: 700px;
        border-radius: 20px;
        border: 3px solid black;
    }
    .img2{
        position: absolute;
        width: 580px;
        top: 10px;
    }
    
    
    .slogan2{
        position: absolute;
        font-size: 50px;
        font-weight: 600;
        left: 340px;
        margin-top: 190px;
    }

}


@media screen and (max-width: 1285px){

    a{
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-size: 200%;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    
    }

    .linkebi{
        position: relative;
        right: 70px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 30px;
    }

    .pirveli{
        position: relative;
        width: 570px;
        height: 400px;
        display: flex;
        position: absolute;
        left: 10px;
        top: 200px;
        background-color: rgb(38, 121, 5);
        border-radius: 20px ;
        border: 3px solid black;
    }
    
    .xeli{
        border-radius: 10px;
        height: 300px;
    }
    
    .slogan{
        position: absolute;
        font-size: 50px;
        
        font-weight: 700;
        left: 320px;
        margin-top: 200px;
         
    }
    
    .meore{
        background-color: rgb(38, 121, 5);
        width: 550px;
        height: 400px;
        position: absolute;
        top: 200px;
        left: 700px;
        border-radius: 20px;
        border: 3px solid black;
    }
    .img2{
        position: absolute;
        width: 550px;
        top: 10px;
    }
    
    
    .slogan2{
        position: absolute;
        font-size: 50px;
        font-weight: 600;
        left: 300px;
        margin-top: 190px;
    }

}

@media screen and (max-width: 1255px){

    a{
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-size: 200%;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    
    }

    .linkebi{
        
        right: 70px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 30px;
    }

    .pirveli{
        
        width: 570px;
        height: 400px;
        display: flex;
    
        left: 10px;
        top: 200px;
        background-color: rgb(38, 121, 5);
        border-radius: 20px ;
        border: 3px solid black;
    }
    
    .xeli{
        border-radius: 10px;
        height: 300px;
    }
    
    .slogan{
        
        font-size: 50px;
        
        font-weight: 700;
        left: 320px;
        margin-top: 200px;
         
    }
    
    .meore{
        background-color: rgb(38, 121, 5);
        width: 550px;
        height: 400px;
        
        top: 200px;
        left: 700px;
        border-radius: 20px;
        border: 3px solid black;
    }
    .img2{
        
        width: 550px;
        top: 10px;
    }
    
    
    .slogan2{
        
        font-size: 50px;
        font-weight: 600;
        left: 300px;
        margin-top: 190px;
    }

    .reklamebi{
        display: flex;
        flex-direction: column;
    }

}