button{
    border: 1px black;
    background-color: rgb(12, 187, 12);
    outline: none;
    color: snow;
    height: 50px;
    font-size: 25px;
    font-family: monospace;
    width: 150px;
    border-radius: 5px;
    position: relative;
    top: 400px;
    left: 470px;
}
input{
    border: 5px solid black;
    outline: none;
    height: 30px;
    font-size: 25px;
    font-family: monospace;
    width: 300px;
    border-radius: 5px;
    position: relative;
    top: 200px;
    left: 800px;
}