#acer{
    color: rgb(0, 128, 0);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background-image: url(Photos/Acer\ Wallpaper.jpg);
}

.info{
    text-align: center;
    color: rgb(0, 128, 0);
    font-size: large;
    font-style: italic;
}
 
p{
    text-align: center;
    font-style: italic;
    color: rgb(0, 128, 0);
}

a{
    text-align: center;
}
