#root {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2.5rem;
  text-align: center;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.logo {
  height: 8em;
  padding: 1.2em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 5px rgba(0, 123, 255, 0.5));
}
.logo.react:hover {
  filter: drop-shadow(0 0 5px rgba(94, 205, 255, 0.5));
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 15s linear;
  }
}

.card {
  padding: 2.5em;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 1em 0;
}

.read-the-docs {
  color: #555;
  font-size: 0.9em;
}
