.Memb{
    text-align: center;
    color: rgb(255, 0, 0);
}

form{
    text-align: center;
}

button{
    background-color: rgb(0, 255, 64);
}

body{
    background-color: rgb(255, 255, 255);
    text-decoration: none;
}