body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url(Photos/Cool\ Background.jpg);
    background-size: cover;
}

.sign-up{
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    background: #fff;
    padding: 20px;
    margin: 8% auto;
    text-align: center;
}

.button{
    color: #fff;
    background-color: blue;
    margin-bottom: 30px;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}

.input{
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #999;
    outline: none;
}

hr{
    margin-top: 20px;
    width: 80%;
}

.or{
    background: #fff;
    width: 30px;
    margin: -19px auto 10px;
}

img{
    width: 70px;
    margin-top: -50px;
}

h1{
    color: blue;
}